<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
        <input type="text" name="email" id="email" value="">
        <input type="button" value="Check!">
    </div>
  </body>
  <script type="text/javascript" src="">
  
  </script>
</html>
